#progressBar {
    position: fixed;
    z-index: 999999;
    top: 52px;
    left: 0;
    width: 0%;
    height: 3px;
    background: #b91f1f;
    border-radius: 10%;
    -moz-transition: width 500ms ease-out,opacity 400ms linear;
    -ms-transition: width 500ms ease-out,opacity 400ms linear;
    -o-transition: width 500ms ease-out,opacity 400ms linear;
    -webkit-transition: width 500ms ease-out,opacity 400ms linear;
    transition: width 500ms ease-out,opacity 400ms linear;
}
#progressBar:before {
    position: absolute;
    content: '';
    top: 0;
    opacity: 1;
    width: 10%;
    right: 0px;
    height: 3px;
    box-shadow: #b91f1f 1px 0 6px 2px;
    border-radius: 50%;
}


.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
    background-color: transparent;
    z-index: 99999 !important;
}

.spinner h2{
    position:absolute;
    display: inline-block;
    z-index: 99999;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #BF3E11;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    z-index: 99999 !important;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
